<template>
  <div class="GMap">
    <div
      ref="map"
      class="GMap__Wrapper"
    />
    <slot />
  </div>
</template>

<script>
import debounce from 'lodash.debounce';
import GoogleMapsApiLoader from 'google-maps-api-loader';

const MarkerClusterer = require('node-js-marker-clusterer');

export default {
  name: 'nuxt-gmaps-gmap',

  props: {
    /**
     * Maps Options
     *
     * @see {@link https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions}
     */
    options: {
      type: Object,
      default: () => ({}),
    },

    /**
     * Localization setting for maps, used in the script tag
     */
    language: {
      type: String,
      default: 'en',
    },

    /**
     * Initial Zoom level for map instance
     */
    zoom: {
      type: Number,
      default: 10,
    },

    /**
     * Marker cluster configuration.
     * Marker clusters display a large number of markers on a map.
     *
     * @see {@link https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions}
     */
    cluster: {
      type: Object,
      default: () => ({}),
    },

    /**
     * Initial center for the map initialization
     *
     * @see {@link https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions.center}
     */
    center: {
      type: Object,
      default: () => ({
        lat: 45.815,
        lng: 15.9819,
      }),
    },

    /**
     * Use this array to allow only certain events being emitted by Google Maps.
     *
     * @see {@link https://developers.google.com/maps/documentation/javascript/events}
     */
    allowedMapEvents: {
      type: Array,
      default: () => [
        'bounds_changed',
        'center_changed',
        'click',
        'dblclick',
        'drag',
        'dragend',
        'dragstart',
        'heading_changed',
        'idle',
        'maptypeid_changed',
        'mousemove',
        'mouseout',
        'mouseover',
        'projection_changed',
        'resize',
        'rightclick',
        'tilesloaded',
        'tilt_changed',
        'zoom_changed',
      ],
    },
  },

  data() {
    return {
      map: null,
      google: null,
      markerCluster: null,
      markers: [],
    };
  },

  mounted() {
    this.loadMap();
  },

  beforeDestroy() {
    this.$GMaps.loaded = false;
  },

  methods: {
    /**
     * Loads the map libaries using the GoogleMapsApiLoader package
     */
    async loadMap() {
      if (this.$GMaps.loaded === false) {
        this.$GMaps.loaded = true;

        try {
          const GMapSettings = {
            apiKey: this.$GMaps.apiKey,
            language: this.language,
          };

          if (this.$GMaps.libraries !== undefined) {
            GMapSettings.libraries = this.$GMaps.libraries;
          }

          const google = GoogleMapsApiLoader(GMapSettings);
          this.$GMaps.google = google;
        } catch (e) {}
      }

      this.google = await this.$GMaps.google;
      this.initMap();
      this.$emit('loaded', this.google);
    },

    /**
     * Initialize map instance
     */
    initMap() {
      this.map = new google.maps.Map(this.$refs.map, {
        center: this.center,
        zoom: this.zoom,
        ...this.options,
      });

      this.initChildren();

      this.allowedMapEvents.forEach(event => {
        this.map.addListener(
          event,
          debounce(e => this.$emit(event, { map: this.map, event: e }), 500, false),
        );
      });

      this.$emit('init', this.google);
    },

    /**
     * Initialize child components
     */
    initChildren() {
      if (this.markerCluster !== null) {
        this.markerCluster.clearMarkers();
      }

      if (this.markers.length > 0) {
        this.markers = [];
      }

      this.$children.forEach(child => {
        child.init();
      });

      this.map.markers = this.markers;

      if (Object.keys(this.cluster).length > 0) {
        this.markerCluster = new MarkerClusterer(this.map, this.markers, {
          ...this.cluster.options,
        });
      }
    },
  },
};
</script>

<style>
.GMap__Wrapper {
  width: 100%;
  height: 100%;
}
</style>
